<h1 align="center">All Alpha Bloggers</h1>
    <div align="center">
        <div class="col-sm-2 bg-light">
            <%= will_paginate %>
        </div>
    <% @users.each do |user| %>
        <ul class="listing">
            <div class="row">
                <div class="col-sm-4 offset-sm-4 card card-body bg-light">
                    <li><%= link_to gravatar_for(user), user_path(user) %></li>
                    <li class="article-title"><%= link_to user.username, user_path(user) %> </li>
                    <li><small><%= pluralize(user.articles.count, "article") if user.articles%></small></li>
                </div>
            </div>
        </ul>
    <% end %>
    </div>
<div class="col-sm-2 offset-sm-5 bg-light">
    <%= will_paginate %>
</div>