<h1 align="center">Welcome to <%= @user.username %>'s Page</h1>
<div class="row">
    <div class="col-sm-4 offset-sm-4 center">
        <%= gravatar_for @user, size: 150 %>
    </div>
</div>
<h4 align="center"> <%= @user.username %>'s Articles </h4>
<div class="col-sm-2 offset-sm-5 bg-light">
    <%= will_paginate @user_articles%>
</div>
 <%= render 'articles/article', obj: @user_articles %>
 <div class="col-sm-2 offset-sm-5 bg-light">
    <%= will_paginate @user_articles%>
</div>